
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId


#account-form-container.center-vertical
	form.card.card-body.bg-light(method='post')#account-form
		h2
		h4#sub Register.
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= user.name)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= user.email)

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Location
			.col-sm-9
				select.custom-select#county-list(name='county')
					each item in countries
						option(selected=item.name == user.county)= item.name
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm  National ID No.
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= user.user).disabled

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Password
			.col-sm-9
				input.form-control#pass-tf(type='password', name='pass', value='')
				hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Confirm Password
			.col-sm-9
				input.form-control#idno-tf(type='text', name='idno', value= user.idno)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Phone No.
			.col-sm-9
				input.form-control#phone-tf(type='phone', name='phone', value= user.phone)


		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Station
			.col-sm-9
				input.form-control#station-tf(type='text', name='station', value= user.station)

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Education level
			.col-sm-9
				select.custom-select#loe-tf(name='loe')
					each item in loe
						option(selected=item.name == user.loe)= item.name				
		
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Institution
			.col-sm-9
				input.form-control#inst-tf(type='text', name='inst', value= user.inst)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Date of Birth
			.col-sm-9
				input.form-control#dob-tf(type='date', name='dob', value= Date)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Appointment Date
			.col-sm-9
				input.form-control#doa-tf(type='date', name='doa', value= Date)

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Gender
			.col-sm-9
				select.custom-select#gender(name='gender')
					each item in gender
						option(selected=item.name == user.gender)= item.name				
		hr
		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm Marital Status
			.col-sm-9
				select.custom-select#status-tf(name='status')
					each item in status
						option(selected=item.name == user.status)= item.name






		hr
		.form-buttons
			button(type='button')#account-form-btn1.btn.btn-outline-dark  Delete
			button(type='submit')#account-form-btn2.btn.btn-primary Submit

// display form errors in a custom modal window //

include modals/form-errors