doctype html
html.js.no-touch(lang='en')
  head
    title
      | PENTECOSTAL ASSEMBLY OF GOD | KENYA
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/slick-team-slider.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    //
      =======================================================
      Theme Name: Tempo
      Theme URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
      =======================================================
  body
    // HEADER START
    .main-navigation.navbar-fixed-top
      nav.navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html')
              img.img-responsive(src='img/logo.jpg')
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='#banner') Home
              li
                a(href='#service') Services
              li
                a(href='#portfolio') Vision
              li
                a(href='#about') About Us
              li
                a(href='#resources') Resources
              li
                a(href='#register') Register
              li
                a(href='#login') Login
    // HEADER END
    // BANNER START
    #banner.section-padding
      .container
        .row
          .jumbotron
            h1.small
              | Welcome To 
              span.bold PAG-KENYA
            p.big .
    // BANNER END
    br
    // CTA1 START
    .cta-1
      .container
        .row.text-center.white
          h1.cta-title
          p.cta-sub-title
    // CTA1 END
    // SERVICE START
    #service.section-padding
      .container
        .row
          .page-title.text-center
            h1 Vision
            p
              | TO PROVIDE SOUND CHRISTIAN TEACHING FOR ALL MEMBERS AND ADHERENTS WHO PRACTICE HOLINESS AND SEEK TO BE BAPTIZED WITH THE HOLY SPIRIT
              br
              | (HEBREWS 12:14, ACTS 1:8)
            hr.pg-titl-bdr-btm
      // SERVICE END
      #portfolio
        .container
          .page-title.text-center
      // TEAM START
      #about.section-padding
        .container
          .row
            .page-title.text-center
              h1 Mission Statement
              p
                | TO PREACH THE GOSPEL, WITH SIGNS FOLLOWING AND TO ESTABLISH SELF - PROPAGATING CHURCHES WHICH BELIEVE AND OBEY THE GREAT COMMISSION.  
                br
                | (MATTHEW 28:16-20)
              hr.pg-titl-bdr-btm
            .autoplay
              .col-md-6
                .team-info
                  .img-sec
            // TEAM END
            // CTA2 START
            .cta2
              .container
                .row.white.text-center
                  h3.wd75.fnt-24
                  p.cta-sub-title
                  a.btn.btn-default(href='#') Request A Prayer
            // CTA2 END
            // CONTACT START
            #contact.section-padding
              .container
                .row
                  .page-title.text-center
                    h1  Contact Us
                    p
                      | Please contact us if you are having problem with registation and login  
                      br
                      | We will be happy to hear from you
                    hr.pg-titl-bdr-btm
                  #sendmessage Your message has been sent. Thank you!
                  #errormessage
                .col-md-6
                  .team-info
                    .img-sec
                    .fig-caption
                      h3 Contact us
                      p.marb-20 Email
                      p info@pakenya.co.ke
                      ul.team-social
                        li.bgblue-dark
                          a(href='#')
                            i.fa.fa-facebook
                        li.bgred
                          a(href='#')
                            i.fa.fa-google-plus
                        li.bgblue-light
                          a(href='#')
                            i.fa.fa-twitter
                        li.bgblue-dark
                          a(href='#')
                            i.fa.fa-linkedin
                .col-md-6
                  .team-info
                    .img-sec
                    .fig-caption
                      h3 Secretary General
                      p.marb-20 Email
                      p sq@pakenya.co.ke
                      ul.team-social
                        li.blue-dark
                          a(href='#')
                            i.fa.fa-facebook
                        li.red
                          a(href='#')
                            i.fa.fa-google-plus
                        li.blue-light
                          a(href='#')
                            i.fa.fa-twitter
                        li.blue-dark
                          a(href='#')
                            i.fa.fa-linkedin
        // CONTACT END
        // FOOTER START
        footer.footer.section-padding
          .container
            .row
              .col-sm-12.text-center.wow.zoomIn(style='visibility: visible; animation-name: zoomIn;')
                h3 Follow us on
                .footer_social
                  ul
                    li
                      a.f_facebook(href='#')
                        i.fa.fa-facebook
                    li
                      a.f_twitter(href='#')
                        i.fa.fa-twitter
                    li
                      a.f_google(href='#')
                        i.fa.fa-google-plus
                    li
                      a.f_linkedin(href='#')
                        i.fa.fa-linkedin
              // - END COL
              // - END ROW
              // - END CONTAINER
              // FOOTER END
              .footer-bottom
                .container
                  .col-md-12.text-center.wow.zoomIn(style='visibility: visible; animation-name: zoomIn;')
                    .footer_copyright
                      p  © Copyright, All Rights Reserved.
                      .credits
                        //
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Tempo
                        a(href='https://pagkenya.co.ke/') Pag-Kenya
              script(src='js/jquery.min.js')
              script(src='js/jquery.easing.min.js')
              script(src='js/bootstrap.min.js')
              script(type='text/javascript', src='js/slick.min.js')
              script(type='text/javascript', src='js/custom.js')
              script(src='contactform/contactform.js')
